# server configuration
HOST=localhost
PORT=3000

FRONTEND_URL=http://localhost:5173
AI_ENDPOINT_URL=https://giziku.web.id/ai/predict

# node-postgres configuration
PGUSER=postgres
PGHOST=localhost
PGPASSWORD=111111
PGDATABASE=giziku
PGPORT=5432

# JWT token
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=